[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
scikit-image = "*"
matplotlib = "*"
pillow = "*"
streamlit-image-coordinates = "*"

[dev-packages]

[requires]
python_version = "3.10"
